.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-block: 12px;
  padding-block: 5px;
  padding-inline: 7px;
  transition: max-height 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContent {
  transition: 0.7s;
  max-height: 40px;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.card.active .title {
  font-weight: 800;
  font-size: 1.2rem;
  color: #212020;
}

.card.active .cardContent {
  max-height: 300px;
}

.card.active {
  background-color: #f7ecff;
  box-shadow: 0 4px 8px rgba(0, 0, 3, 0.2);
}

.calculationDiv {
  margin-block: 2rem;
  margin-inline: 12px;
  font-weight: 600;
}

.calculationDiv span {
  font-size: 10px;
  color: #404040;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn.prev,
.btn.next {
  content: "";
  font-size: 30px;
  font-weight: 800;
  line-height: 0;
}

.btn.prev::before {
  display: flex;
  content: "\2039";
  margin-bottom: 7px;
  margin-right: 2px;
}

.btn.next::before {
  display: flex;
  content: "\203A";
  margin-bottom: 7px;
  margin-left: 2px;
}